body {
    margin: 2% 22% 0;
}
.star {
    color: red;
    grid-row: span 2;
    font-size: 2vw;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.beauty, .supply {
    font-size: 1.5vw;
    font-weight: 700;
}

.logoParent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    font-family: sans-serif;
    max-width: 21.5%;
}

.dropDownMenu {
    display: flex;
}


