@font-face {
    font-family: Allura-Regular;
    src: url(./Allura-Regular.ttf);
}
@font-face {
    font-family: Italiano;
    src: url(./Italianno-Regular.ttf);
}
/*Fonts/Allura-Rgular.ttf*/
/*body {
    margin: 2% 22% 0;
}*/
.star {
    color: red;
    grid-row: span 2;
    font-size: 30px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.beauty, .supply {
    font-size: 20px;
    font-weight: 700;
}

.logoParent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    font-family: sans-serif;
    width: 200px;
    gap: 1%;
    background-color: yellow;
    padding: .4% .4% .4% .1%;
    margin: .5% 0 0 1%;
    border-radius: 15px;
}
.logoParent div {
    margin: auto;
}

nav .container {
    text-align: center;
}

nav ul {
    margin: 1% 0 0;
    padding: 0;
    position: relative;
    list-style: none;
    font-size: 15px;
    gap: 20px;
    font-family: Helvetica, sans-serif;
    letter-spacing: 1px;
    white-space: nowrap;
    margin-top: 1%;
}

nav li {
    display: inline-block;
}
nav a{
    display: block;
    text-decoration: none;
    padding: .75em 1.75em;
    color: black;
}

.menu-sub {
    position: absolute;
    left: 0;
    background-color: white;
    width: 100%;
    display: none;
    padding: 2em;
}

nav li:hover .menu-sub {
    display: block;
}

.menu-sub li {
    display: block;
}

.menu-sub a {
    padding: 0;
}


.bodyImage {
    display: block;
    width: 75%;
    height: 400px;
    object-fit: cover;
    margin: 0.8% auto 4%;
}

.array-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}