body {
}
.star {
    color: red;
    grid-row: span 2;
    font-size: 2vw;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.beauty, .supply {
    font-size: 1.5vw;
    font-weight: 700;
}

.logoParent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2% 22% 0;
    width: 11.5%;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    font-family: sans-serif;
    column-gap: 3%;
}

.bodyImage {
    max-width: 56%;
    max-height: .5%;
    margin: auto;
    display: block;
}

